<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Daily Intake</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.1/css/bootstrap.min.css}">
</head>
<body>
<div class="h2 text-center">
    <a class="h2" th:href="@{/daily_intake/meal_registration}">Meal Registration</a>
</div>
<br/>
<table class="table table-bordered" style="max-width: 1500px; margin: auto">
    <thead class="table-dark">
    <tr>
        <th>Days</th>
        <th>Calories</th>
        <th>Protein</th>
        <th>Fat</th>
        <th>Carbohydrates</th>
        <th>Total</th>
        <th>Operations</th>
    </tr>
    </thead>
    <tbody class="table-light">
    <th:block th:each="meal : ${meals}">
        <tr>
            <td th:text="${meal.day}"></td>
            <td th:text="${meal.calories}"></td>
            <td th:text="${meal.protein}"></td>
            <td th:text="${meal.fat}"></td>
            <td th:text="${meal.carbohydrates}"></td>

            <td>
                <a class="h4 m-3" th:href="@{'/daily_intake/total_intake/' + ${meal.getDay().id}}">Total Amount</a>
            </td>
            <td>
                <a class="h4 m-3" th:href="@{'/manage/updatedish/' + ${meal.id}}">Edit</a>
                <a class="h4 m-3" th:href="@{'/manage/deletedish/' + ${meal.id}}">Delete</a>
            </td>
        </tr>
    </th:block>
    </tbody>

</table>
<br/>
<div style="margin-left: 120px">
    <a class="h4" th:href="@{/}">Home</a>
</div>
<br/>
</body>
</html>
