<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Habit</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.1/css/bootstrap.min.css}">
</head>
<body>
<form th:action="@{/habit_tracker/save_day}" method="post" style="max-width: 500px; margin: 0 auto">
  <input type="hidden" th:field="${day.id}"/>
  <div class="border border-secondary p-4 rounded">
    <div class="mb-3">
      <label class="h5" style="font-weight: bold">Name</label>
      <input required th:field="${day.name}"/>
    </div>

    <div>
      <label class="h5" style="font-weight: bold">Habit</label>
      <th:block th:each="habit : ${habits}">
        <div>
          <input type="checkbox" th:field="*{day.habits}" th:text="${habit.name}"
                 th:value="${habit.id}"/>
        </div>
      </th:block>
    </div>
    <br/>
    <div>
      <button class="btn btn-primary mb-1" type="submit">Save</button>
    </div>
  </div>
  <a class="h4" th:href="@{/habit_tracker}" >Cancel</a>
</form>
</body>
</html>