<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Habit Tracker</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.1/css/bootstrap.min.css}">
</head>
<body>

<div class="h2 text-center">
    <a class="h2" th:href="@{/habit_tracker/habit_registration}">Habit Registration</a>
</div>
<div class="h2 text-center">
    <a class="h2" th:href="@{/habit_tracker/delete_habit}">Remove Habit</a>
</div>
<br/>
<table class="table table-bordered" style="max-width: 1500px; margin: auto">
    <thead class="table-dark">
    <tr>
        <th>Date</th>
        <th>Day</th>
        <th>Habits</th>
        <th>Operations</th>
    </tr>
    </thead>
    <tbody class="table-light">
    <th:block th:each="date : ${dates}">
        <tr>
            <td th:text="${#dates.format(date.date, 'dd-MM-yyyy')}"></td>
            <td th:text="${date.day.name}"></td>
            <td th:text="${date.habits}"></td>

            <td>
                <a class="h4 m-3" th:href="@{'/habit_tracker/edit_habit/' + ${date.id}}">Edit</a>
            </td>
        </tr>
    </th:block>
    </tbody>

</table>
<br/>
<div style="margin-left: 120px">
    <a class="h4" th:href="@{/}">Home</a>
</div>
<br/>
</body>
</html>