<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.1/css/bootstrap.min.css}">
</head>
<body>
<div class="h2 text-center">
    <a class="h2" th:href="@{/daily_intake}">Daily Intake</a>
</div>

<div class="h2 text-center">
    <a class="h2" th:href="@{/habit_tracker}">Habit Tracker</a>
</div>

<div class="h2 text-center">
    <a class="h2" th:href="@{/manage_day}">Manage Day</a>
</div>

</body>
</html>