<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Management</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.1/css/bootstrap.min.css}">
</head>
<body>
<div class="h2 text-center">
    <a class="h2" th:href="@{/meals}">Meals</a>
</div>

<div class="h2 text-center">
    <a class="h2" th:href="@{/habits}">Habits</a>
</div>

<div class="h2 text-center">
    <a class="h2" th:href="@{/dates}">Dates</a>
</div>

<div class="h2 text-center">
    <a class="h2" th:href="@{/management}">Management</a>
</div>

</body>
</html>