<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Management</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.1/css/bootstrap.min.css}">
</head>
<body>
<div class="h2 text-center">
    <a class="h2" th:href="@{/management/meals}">Meals</a>
</div>

<div class="h2 text-center">
    <a class="h2" th:href="@{/management/habits}">Habits</a>
</div>

<div class="h2 text-center">
    <a class="h2" th:href="@{/management/dates}">Dates</a>
</div>

<div class="h2 text-center">
    <a class="h2" th:href="@{/management/exercises}">Exercises</a>
</div>

<div style="margin-left: 120px">
    <a class="h4" th:href="@{/}">Home</a>
</div>
</body>
</html>